<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>

    <link href="../static/about.css" rel="stylesheet" type="text/css" media="all"/>
    <!--<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />-->
</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>get to <a href="http://127.0.0.1:9876/">know</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="http://127.0.0.1:9876/" accesskey="1" title="">Главная</a></li>
                <li><a href="http://127.0.0.1:9876/news" accesskey="2" title="">Новости</a></li>
                <li><a href="http://127.0.0.1:9876/goods" accesskey="3" title="">Полезное</a></li>
                <li><a href="http://127.0.0.1:9876/tests" accesskey="4" title="">Тесты</a></li>
                <li class="current_page_item"><a href="http://127.0.0.1:9876/about" accesskey="5" title="">О проекте</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper">
    <div id="featured-wrapper">
        <div id="featured" class="extra2 margin-btm container">
            <div>
                <ul>
                <li>
                    <h1>О проекте</h1>
                    <ul class="list-group mt-3"></ul>
                    <li>Идея данного проекта принадлежит <a href="https://instagram.com/nastyamollie"
                                                          rel="nofollow">NastyaMollie</a></li>
                    <li>Мы не несем ответсвенности за достоверность информации, которую вы получаете, перейдя по ссылкам.
                        Никакой защиты информации не гарантируется (проект выполнен студентами)</li>
                    <li>Часть дизайна макета by <a href="https://templated.co/" rel="nofollow">TEMPLATED</a></li>
                    <li>Photo by <a href="https://instagram.com/nastyamollie" rel="nofollow">NastyaMollie</a></li>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>