<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link href="../static/about.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>get to <a href="{{ url_for('index') }}">know</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="{{ url_for('index') }}" accesskey="1" title="">Главная</a></li>
				<li><a href="{{ url_for('news') }}" accesskey="2" title="">Новости</a></li>
				<li><a href="{{ url_for('goods') }}" accesskey="3" title="">Полезное</a></li>
				<li><a href="{{ url_for('tests') }}" accesskey="4" title="">Тесты</a></li>
				<li><a href="{{ url_for('about') }}" accesskey="5" title="">О проекте</a></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div id="featured-wrapper">
        <div id="featured" class="extra2 margin-btm container">
            <div>
                <h2>Что нужно знать программисту C#?</h2>
                <p>(пункты 1-6 обязательны)</p>
                <ol>
                    <li>Основы программирования, структур данных, ООП
                    <ol>
                        <li><a href="https://tproger.ru/translations/diving-in-oop-p1/">ООП</a></li>
                        <li><a href="https://www.ozon.ru/context/detail/id/139296295/">Про алгоритмы</a></li>
                    </ol></li>
                    <li><a href="https://proglib.io/p/learning-c-sharp/">C#</a>
                    <ol>
                        <li><a href="https://ru.wikipedia.org/wiki/CSharp">О языке</a></li>
                    </ol></li>
                    <li><a href="https://englex.ru/english-for-it-specialists/">Английский язык</a>
                    <ol>
                        <li><a href="https://lingualeo.com/ru">Онлайн школа</a></li>
                    </ol>
                    </li>
                    <li><a href="https://vscode.ru/prog-lessons/mysql-c-sharp.html">Базы данных</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

</body>
</html>