<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>
    <link href="../static/default.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>get to <a href="{{ url_for('index') }}">know</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="{{ url_for('index') }}" accesskey="1" title="">Главная</a></li>
				<li><a href="{{ url_for('news') }}" accesskey="2" title="">Новости</a></li>
				<li class="current_page_item"><a href="{{ url_for('goods') }}" accesskey="3" title="">Полезное</a></li>
				<li><a href="{{ url_for('tests') }}" accesskey="4" title="">Тесты</a></li>
				<li><a href="{{ url_for('about') }}" accesskey="5" title="">О проекте</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper">
    <div id="featured-wrapper">
        <div id="featured" class="extra2 margin-btm container">
            <div class="main-title">
                <h2>Выберите язык программирования</h2>
                <span class="byline"><a href="https://proglib.io/p/top-10-programming-languages-2019/">Какой язык выбрать для изучения?</a></span>
            </div>

            <div class="ebox1">
                <div class="title">
                    <h2>Java</h2>
                    <span class="byline">Серверные приложения, веб-приложения, андроид приложения, десктопные приложения</span>
                    <p></p>
                </div>
                <p>Java — сильно типизированный объектно-ориентированный язык программирования. Приложения Java обычно
                    транслируются в специальный
                    байт-код, поэтому они могут работать на любой компьютерной архитектуре с помощью виртуальной
                    Java-машины. На 2019 год Java — один из самых
                    популярных языков программирования.</p>
                <a href="{{ url_for('java') }}" class="button">Перейти</a></div>

            <div class="ebox2">
                <div class="title">
                    <h2>Python</h2>
                    <span class="byline">Веб-разработка, Data Science (машинное обучение, анализ данных и визуализация), автоматизация процессов, встроенные приложения </span>
                </div>
                <p>Python — высокоуровневый язык программирования общего назначения. Cтандартная библиотека включает
                    большой объём полезных функций. Поддерживается разбиение программ на модули, которые, в
                    свою очередь, могут объединяться в пакеты. В 2018 году Python поднялся на 3 место в рейтинге языков
                    программирования Tiobe.</p>
                <a href="{{ url_for('python') }}" class="button">Перейти</a></div>
        </div>
        <div class="extra2 container">
            <div class="ebox1">
                <div class="title">
                    <h2>C#</h2>
                    <span class="byline">Десктопные приложения, веб-приложения</span></div>
                <p>C# — объектно-ориентированный язык программирования. Разработан в 1998—2001 годах группой инженеров
                    компании Microsoft как язык разработки приложений для платформы Microsoft .NET Framework.
                    C# относится к семье языков с C-подобным синтаксисом, из них его синтаксис наиболее близок к C++ и
                    Java.</p>
                <a href="{{ url_for('csharp') }}" class="button">Перейти</a></div>

            <div class="ebox2">
                <div class="title">
                    <h2>1C</h2>
                    <span class="byline">Настройка, обновление и модернизация стандартных конфигураций, возможность создавать собственную конфигурацию бухучета с нуля</span>
                </div>
                <p>1С — встроенный язык программирования 1С:Предприятия. Средой исполнения языка является программная
                    платформа «1С:Предприятие». Визуальная среда разработки — «Конфигуратор». Наиболее подобен по своему
                    синтаксису языку Visual Basic.</p>
                <a href="{{ url_for('1c') }}" class="button">Перейти</a></div>
        </div>
    </div>
</div>
</body>
</html>