<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>

    <link href="../static/default.css" rel="stylesheet" type="text/css" media="all"/>
    <!--&lt;!&ndash;<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"&ndash;&gt;-->
    <!--          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>get to <a href="http://127.0.0.1:9876/">know</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="http://127.0.0.1:9876/" accesskey="1" title="">Главная</a></li>
                <li class="current_page_item"><a href="http://127.0.0.1:9876/news" accesskey="2" title="">Новости</a>
                </li>
                <li><a href="http://127.0.0.1:9876/goods" accesskey="3" title="">Полезное</a></li>
                <li><a href="http://127.0.0.1:9876/tests" accesskey="4" title="">Тесты</a></li>
                <li><a href="http://127.0.0.1:9876/about" accesskey="5" title="">О проекте</a></li>
            </ul>
        </div>
    </div>
</div>
<div>
    <div id="featured-wrapper">
        <div id="featured" class="extra2 margin-btm container">
            <div>
                <h2>Что нужно знать программисту Python?</h2>
                <p>(пункты 1-6 обязательны)</p>
                <ol>
                    <li>Основы программирования, структур данных, ООП
                    <ol>
                        <li><a href="https://javarush.ru/groups/posts/principy-oop">ООП</a></li>
                        <li><a href="https://www.ozon.ru/context/detail/id/139296295/">Про алгоритмы</a></li>
                    </ol></li>
                    <li><a href="https://javarush.ru/">Java</a>
                    <ol>
                        <li><a href="https://ru.wikipedia.org/wiki/Java">О языке</a></li>
                    </ol>
                    </li>
                    <li><a href="http://127.0.0.1:9876/goods">Английский язык</a>
                    <ol>
                        <li><a href="https://lingualeo.com/ru">Онлайн школа</a></li>
                    </ol>
                    </li>
                    <li><a href="https://tproger.ru/translations/10-free-resources-to-learn-git/">Git (система контроля версий)</a></li>
                    <li><a href="https://github.com/andreiled/mipt-cs-4sem/wiki/%D0%9F%D0%BE%D1%88%D0%B0%D0%B3%D0%BE%D0%B2%D0%B0%D1%8F-%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F-%D0%BF%D0%BE-%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B5-%D1%81-git-%D0%B8-github-%D0%B4%D0%BB%D1%8F-%D1%81%D1%82%D1%83%D0%B4%D0%B5%D0%BD%D1%82%D0%BE%D0%B2">GitHub</a></li>
                    <li><a href="#">Умение разбираться в чужом коде</a></li>
                    <li><a href="https://techrocks.ru/2018/12/18/10-best-java-frameworks/">Фреймворки</a></li>
                    <li><a href="http://java-course.ru/begin/database01/">Базы данных</a></li>
                    <li><a href="#">javascript, jQuery</a></li>
                    <li><a href="https://bootstrap-4.ru/">HTML, Bootstrap, CSS</a></li>

                </ol>
            </div>
        </div>
    </div>
</div>

</body>
</html>