<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet"/>

    <link href="../static/about.css" rel="stylesheet" type="text/css" media="all"/>

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1>get to <a href="http://127.0.0.1:9876/">know</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li><a href="http://127.0.0.1:9876/" accesskey="1" title="">Главная</a></li>
                <li><a href="http://127.0.0.1:9876/news" accesskey="2" title="">Новости</a></li>
                <li><a href="http://127.0.0.1:9876/goods" accesskey="3" title="">Полезное</a></li>
                <li class="current_page_item"><a href="http://127.0.0.1:9876/tests" accesskey="4" title="">Тесты</a>
                </li>
                <li><a href="http://127.0.0.1:9876/about" accesskey="5" title="">О проекте</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="wrapper">
    <div id="featured-wrapper">
        <div id="featured" class="extra2 margin-btm container">
            <div>
                <h1>Тесты и задачи</h1>
                <ul>
                    <li><a href="http://127.0.0.1:9876/test_prof">Пройди тест и узнай какие профессии тебе подходят</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>